[Unit]
Description=OsCAM Server
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/oscam
ExecStart=/usr/bin/oscam $_OSCAM_OPTS
PIDFile=/tmp/.oscam/oscam.pid
Restart=always
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
